<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411000388850-q99tmkpv0f78ji5p6ld654roe852idlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411000388850-q99tmkpv0f78ji5p6ld654roe852idlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDnFv0fbV4-8OOqW7qzc6GNzydV1CNLXws</string>
	<key>GCM_SENDER_ID</key>
	<string>411000388850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasankaya.MyMessenger</string>
	<key>PROJECT_ID</key>
	<string>mymessenger-15e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessenger-15e4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411000388850:ios:03658c59794aa64a3ba46b</string>
</dict>
</plist>